.header {
  background-image: url("https://images.pexels.com/photos/975771/pexels-photo-975771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  width: 100%;
  min-height: 300px;
  background-position: center -600px;
  background-repeat: no-repeat;
  color: white;
  text-shadow: #474747 3px 5px 2px;
}
a {
  text-decoration: none;
}
a :hover {
  color: orange;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .mediaQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.changeMe {
  transition: 0.7s;
}

.changeMe:hover {
  transform: scale(1.1, 1.1);
}
.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}
