header {
  background-image: url("https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

  width: 100%;
  min-height: 210px;
  background-position: center -80px;
  background-repeat: no-repeat;
  color: rgb(199, 196, 196);
  text-shadow: #474747 3px 5px 2px;
}
nav a {
  text-decoration: none;
  padding: 0 12px;

  color: grey;
}
nav a:hover {
  color: orange;
  text-decoration: none;
}
.changeMeTr {
  transition: 0.6s;
}

.changeMeTr:hover {
  transform: scale(1.01, 1.01);
  background-color: rgb(223, 221, 221);
}
